*{ 
    font-family: agency FB;
    font-size: 20px;
    margin: 0;
    
}
body{ 
    background: whitesmoke;
    overflow: hidden;
}
nav{
    background: linear-gradient(to bottom,white,black);
    height: 45px;
}
nav strong{
    font-size: 35px;
    margin-left: 20px;
    color: ;
    text-shadow: 0 0 5px white;
}
.centerwrapper{
    display: flex;
    justify-content: center;
}

.container{
    border: 2px black solid;
    width: 250px;
    height: auto;
    margin: 2px;  
    padding: 25px;
    margin-top: 20px;
    border-radius: 0.5rem;
    border: none;
}
.container h2{
    text-align: center;
    color: rgb(58, 58, 105);
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input{
    width: 100%;
    height: 20px;
    border-radius: 0.2rem;
    padding: 12px 15px;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    background: linear-gradient(to left,black,white);
    color: black;
    text-shadow: 0 0 5px white;
}
input:focus{
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3 );
}
.btn{
 align-items: center;
 padding: 5px;
 width: 25%;
 background: grey;
 color: white;
 border-radius: 0.2rem;
 background-color: black;
 translate: ;
}
.labels{
    font-size: 23px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.btn:hover{
    background-color: grey;
    border-color: grey;

}
a{
    text-decoration: none;
    font-size: 23px;
}
a:hover{
    color: red;
}
hr{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #444, transparent);
}
