html, body{
    margin: 0;
    padding: 0;
    
    color: #1b1f23;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    background-color:  #f3f6fb;
}

.form{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  #fff;
    width: 25%;
    border-radius: 0.4rem;
    padding: 25px 25px;
}

.form > h1{
    font-size: 1.4rem;
}

.form > p{
    margin-top: -12px;
}

.form > label{
    font-size: 1.1rem;
    line-height: 0%;
}

.form > input{
    width: 360px;
    height: 32px;
    border-radius: 0.2rem;
    border: none;
    background-color:  #f3f6fb;
    margin-top: 5px;
    padding: 2px 10px;
    font-size: 1rem;
}

.form > textarea{
    margin-top: 5px;
    border-radius: 0.2rem;
    width: 360px;
    height: 50px;
    word-wrap: break-word;
    padding: 5px 10px;
    font-size: 1rem;
}

.form > .form__btn{
    display: flex;
    justify-content: center;
}

.form__btn > button{
    border-radius: 0.2rem;
    border: none;
    font-size: 1rem;
    padding: 10px 10px;
    background-color: #1f6fd4;
    color: #fff;
    width: 100%;
}

.form__btn > button:hover{
    cursor: pointer;
}

